<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h4>Please, enter your details:</h4>
<form>
  <div class="form-group">
    <label for="name">Name</label><br/>
    <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name">
  </div>
  <div class="form-group">
    <label for="location">Location</label><br/>
    <input type="text" class="form-control" id="location" [(ngModel)]="model.location" name="location">
  </div>
  <button type="submit" class="btn btn-default" (click)="submit()">Submit</button>
</form>
<h3>
{{ greeting }}
</h3>

<h4>Tools available: </h4>
<ul>
  <li>
    <a target="_blank" rel="noopener" href="http://localhost:9001/">Spring Boot Admin</a>
  </li>
  <li>
    <a target="_blank" rel="noopener" href="http://localhost:9090/swagger-ui.html">API Swagger Docs</a>
  </li>
  <li>
    <a target="_blank" rel="noopener" href="http://localhost:8761">Eureka (Service Discovery)</a>
  </li>
  <li>
    <a target="_blank" rel="noopener" href="http://localhost:9411/zipkin/">Zipkin (Distributed Tracing)</a>
  </li>
  <li>
    <a target="_blank" rel="noopener" href="http://localhost:8888/appname/profilename">Configuration server</a>
  </li>
  <li>
    <a target="_blank" rel="noopener" href="https://github.com/amoraes/spring-cloud-ecs-example-config">Configuration repository</a>
  </li>
</ul>

